{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

   
   
    <p class="heading">{{ category.title }}</p>
   {% for book in books %}
        <p class="heading"><a href="{% url 'book_detail' slug=book.slug %}">
        {{ book.name }}

        </a></p>
        <h3>{{ book.author }} </h3>
 
        <p class="text">{{ book.description }}</p>
   
    
        <a href="{{ book.url }}">Link to the book online</a>
    

    {% endfor %}
 

{% endblock content %}  